* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.877);
  color: #212121;
  line-height: 1.5;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  height: 260px;
}
img {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
}
.hidden {
  display: none;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  padding: 70px 10px 10px 10px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 390px;
  /* background-color: #5c5c5c; */
  background-color: #e2e2e2;
  border-radius: 10px;
  box-shadow: rgba(58, 56, 56, 0.35) 0px 5px 15px;
}
.info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: #2121217a 3px solid;
  border-radius: 10px;
}
.info-item {
  font-size: small;
  color: #212121;
  padding: 2px;
}
.search-form {
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #e2e2e2;
  padding: 10px;
  box-shadow: rgba(58, 56, 56, 0.35) 0px 2px 10px;
  border-radius: 1px;
}
input[name='searchQuery'] {
  padding: 5px;
  font-size: 20px;
  border: #2121217a 2px solid;
  outline: none;
  border-radius: 10px;
  color: #212121e3;
}
input[name='searchQuery']:hover {
  box-shadow: rgba(58, 56, 56, 0.35) 0px 0px 10px;
}
.search-button {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: #2121217a 2px solid;
  color: #212121e0;
  font-weight: 600;
}
.search-button:hover {
  box-shadow: rgba(58, 56, 56, 0.35) 0px 0px 10px;
}
.wrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.load-more {
  padding: 10px;
  border-radius: 10px;
  color: #212121e0;
  border: #2121217a 2px solid;
  background-color: #fff;
  font-weight: 600;
  margin: auto;
}
.load-more:hover {
  box-shadow: rgba(175, 170, 170, 0.35) 0px 0px 20px;
}
